< IfModule  mod_expires.c >
 # Images 
  ExpiresByType image / jpeg 
  ExpiresByType image / gif  
  ExpiresByType image / png  
  ExpiresByType image / webp 
  ExpiresByType image / svg + xml 
  ExpiresByType image / x-icon  

  # Vidéo 
  ExpiresByType video / webm  
  ExpiresByType video / mp4  
  ExpiresByType video / mpeg  

  # Fonts 
  ExpiresByType font / ttf  
  ExpiresByType font / otf  
  ExpiresByType font / woff  
  ExpiresByType font / woff2 
  ExpiresByType application / font-woff  

  # CSS, JavaScript 
  ExpiresByType text / css  
  ExpiresByType text / javascript  
  ExpiresByType application / javascript  

  # Autres 
  ExpiresByType application / pdf  
  ExpiresByType image / vnd.microsoft.icon 
</ IfModule >