<IfModule  mod_expires.c>
  ExpiresActive On
  ExpiresByType image / jpeg 
  ExpiresByType image / gif  
  ExpiresByType image / png  
  ExpiresByType image / webp 
  ExpiresByType image / svg + xml 
  ExpiresByType image / x-icon  

  ExpiresByType video / webm  
  ExpiresByType video / mp4  
  ExpiresByType video / mpeg  

  ExpiresByType font / ttf  
  ExpiresByType font / otf  
  ExpiresByType font / woff  
  ExpiresByType font / woff2 
  ExpiresByType application / font-woff  

  ExpiresByType text / css  
  ExpiresByType text / javascript  
  ExpiresByType application / javascript  

  ExpiresByType application / pdf  
  ExpiresByType image / vnd.microsoft.icon 
</IfModule>