@media screen and (max-width: 768px) {
    #topHeader {
        display: none;
    }

    #containerHeader #headerBackImg,
    #containerHeader #blackBackImg {
        display: none;
    } 

    #navbar,
    #nav {
        top: 0;
        position: fixed;
        z-index: 40;
    }

    #navbar #navLink,
    #nav #navLink {
        display: none;
    }

    #navbar a,
    #nav a {
        width: 79%;
    }

    #menuBurger {
        display: flex;
        justify-content: space-around;
        width: 20%;
        color: #fff;
        font-size: 3rem;
        align-self: center;
    }

    #home {
        margin-top: 0;
        padding-top: 100px;
    }

    #contactLink {
        top: 150px;
    }

    #home #welcome {
        justify-content: space-around;
    }

    #welcome #welcomeImg {
        display: none;
    }

    #home #homeHouse {
        width: 70%;
        justify-content: space-between;
    }

    #home #homeHouse h2 {
        width: 100%;
    }

    #home #homeHouse .homeHouseArticle {
        width: 45%;
    }

    #home #homeHouse .articleFinanceProject {
        width: 45%;
    }

    .articleFinanceProject #financeProjectContent h3 {
        font-size: 1.5rem;
    }

    .articleFinanceProject #financeProjectContent a {
        font-size: 1rem;
    }
    
    #presentationAbout h2 {
        width: 90%;
        font-size: 1.6rem;
    }

    #presentationAbout p {
        font-size: 1.4rem;
    }

    #presentationAbout,
    #sectionAbout {
        width: 90%;
    }

    .articleAbout {
        width: 95%;
    }

    .articleAboutPara {
        font-size: 1.1rem;
    }

    .articleImg ul {
        width: 60%;
    }


    .imgArticleAbout {
        width: 40%;
        height: 50%;
    }

    #presentationHouse {
        width: 95%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #presentationHouse h2 {
        width: 90%;
    }

    #presentationHouse p {
        width: 90%;
    }

    #allHouse {
        justify-content: space-around;
    }

    #allHouse #filterHouse select {
        width: 45%;
        margin: 10px;
    }

    #allHouse .articleHouse {
        width: 45%;
    }





    #footer #containerNewsletter {
        width: 90%;
    }

    #footer .elementFooter {
        width: 30%;
    }

    #footer #emptySpace {
        width: 40%;
    }

    #footer .elementFooter h3 {
        font-size: 1rem;
    }

    #footer .elementFooter .iconFooter {
        font-size: 1.2rem;
    }

    #footer .elementFooter a {
        font-size: 0.9rem;
        padding: 10px 5px;
    }

    #footer #footerLogo {
        font-size: 0.8rem;
        width: 40%;
    }
}