@media screen and (max-width: 768px) {
    #topHeader {
        display: none;
    }

    #containerHeader #headerBackImg,
    #containerHeader #blackBackImg {
        display: none;
    } 

    #navbar {
        top: 0;
        position: fixed;
        z-index: 40;
    }

    #navbar #navLink {
        display: none;
    }

    #navbar a {
        width: 80%;
    }

    #menuBurger {
        display: flex;
        justify-content: space-around;
        width: 20%;
        color: #fff;
        font-size: 3rem;
        align-self: center;
    }

    #home {
        margin-top: 0;
        padding-top: 100px;
    }

    #home #contactLink {
        top: 150px;
    }

    #home #welcome {
        justify-content: space-around;
    }

    #welcome #welcomeImg {
        display: none;
    }

    #home #homeHouse {
        width: 70%;
        justify-content: space-between;
    }

    #home #homeHouse h2 {
        width: 100%;
    }

    #home #homeHouse .homeHouseArticle {
        width: 45%;
    }

    #home #homeHouse .articleFinanceProject {
        width: 45%;
    }

    .articleFinanceProject #financeProjectContent h3 {
        font-size: 1.5rem;
    }

    .articleFinanceProject #financeProjectContent a {
        font-size: 1rem;
    }

    #footer #containerNewsletter {
        width: 90%;
    }

    #footer .elementFooter {
        width: 30%;
    }

    #footer #emptySpace {
        width: 40%;
    }

    #footer .elementFooter h3 {
        font-size: 1rem;
    }

    #footer .elementFooter .iconFooter {
        font-size: 1.2rem;
    }

    #footer .elementFooter a {
        font-size: 0.9rem;
        padding: 10px 5px;
    }

    #footer #footerLogo {
        font-size: 0.8rem;
        width: 40%;
    }
}